.blue{
    color: #71C5EB;
}
.corner-section{
    width: 55%;
}
.encabezado-section{
    width: 100% !important;
}
.title-section{
    font-weight: 600;
    width: 45%;
    font-size: 1.8rem;
}
.text-section{
    width: 100%;
}
.const-list-cards {
    width: 78%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

@media (max-width: 992px) {
    .corner-section{
        width: 14% ;
        position: absolute;
        z-index: -1;
    }
    .title-section{
        width: 75%;
    }
}

